{
  "extends": ["@antfu/eslint-config-ts"],
  "rules": {
    "space-before-function-paren": "off",
    "no-console": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "comma-dangle": "off",
    "arrow-parens": "off",
    "brace-style": ["error", "1tbs"]
  }
}
